In [20]:
import pandas as pd

In [21]:
items = '../scrappy/scrappy/items.json'

In [22]:
items

'../scrappy/scrappy/items.json'

In [23]:
df = pd.read_json(items)

In [27]:
df.head()

,quote_title,author_name,quote_tag
0,“The world as we have created it is a process ...,Albert Einstein,"[change, deep-thoughts, thinking, world]"
1,"“It is our choices, Harry, that show what we t...",J.K. Rowling,"[abilities, choices]"
2,“There are only two ways to live your life. On...,Albert Einstein,"[inspirational, life, live, miracle, miracles]"
3,"“The person, be it gentleman or lady, who has ...",Jane Austen,"[aliteracy, books, classic, humor]"
4,"“Imperfection is beauty, madness is genius and...",Marilyn Monroe,"[be-yourself, inspirational]"

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   quote_title  100 non-null    object
 1   author_name  100 non-null    object
 2   quote_tag    100 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [25]:
df['quote_title'][0]

'“The world as we have created it is a process of our thinking. It cannot be changed without changing our thinking.”'